 h3 {
     color: black;
     font-family:  Verdana;
     margin-left: 20px;
 }
.bg{
width: 100%;
height: 100%;
background: #000;
opacity: 0.7;
}
 body {
    
        background-image: url("origami.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
     
 }

 img {
     border: 3px solid black;
     border-radius: 40px;
 }

 p {
     font-family: 'Segoe UI';
     font-size: larger;
     font-weight: italic;
     
 }

 ol,ul{
     font-family: 'Segoe UI';
     font-size: large;
 }
 .press{
    border:3px solid white;
    border-radius: 20px;
    background-color:white;

 }
 .header{
    
     display: flex;
     justify-content: space-between;
 }
 .headermain{
     display:flex;
    justify-content: flex-end;
     align-items: center;
    
 }
 .select{
    border:3px solid lightskyblue;
    border-radius: 10px;
    background-color:lightskyblue;
    margin:10px;
       padding: 10px; 
 }
 .row {
     display: flex;
 }

 .column {
     
     padding-right: 10px;
     height: 300px;
    
 }