 h1 {
     color: lightcoral;
     margin: 20px;
 }

 body {
     background-color: aliceblue;
 }

 img {
     border: 3px solid black;
     border-radius: 40px;
 }

 p {
     font-family: comic sans ms;
     font-weight: italic;
 }

 ol,
 ul {
     font-family: comic sans ms;
 }
 .grid{
     display:flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }
 .header{
     background-color: white;
     display: flex;
     justify-content: space-between;
 }
 .headermain{
     display:flex;
     flex-direction: row;
    justify-content: space-evenly;
   
    background-color: white;
    padding: 10px;
 }